# What's our production URL? This is used to redirect after successful signin.
NEXT_PUBLIC_APPLICATION_URL='http://localhost:3000'
NEXT_PUBLIC_VERCEL_ENV="local"
NEXT_PUBLIC_SHORTENER_REQUEST_URL="https://github.com/InterwebAlchemy/interweb.wtf/issues"

# Supabase API Credentials
NEXT_PUBLIC_SUPABASE_PROJECT_ID=""
NEXT_PUBLIC_SUPABASE_URL="https://$NEXT_PUBLIC_SUPABASE_PROJECT_ID.supabase.co"
NEXT_PUBLIC_SUPABASE_STORAGE_URL="https://$NEXT_PUBLIC_SUPABASE_PROJECT_ID.supabase.in"
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
# NEVER prefix this with `NEXT_PUBLIC_`; this is only used to delete a user's profile and bypass the RLS that prevents it
SUPABASE_SERVICE_ROLE_KEY=""

# GitHub OAuth Application credentials for login w/ GitHub
SUPABASE_AUTH_GITHUB_CLIENT_ID=""
SUPABASE_AUTH_GITHUB_SECRET=""

# CloudFlare URL Scanner key for checking URLs before shortening them
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_URL_SCANNER_KEY=""